#---------------------------------#
# Resíduos de compilação do LaTeX #
#---------------------------------#
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bcf
*.xml
*.idx
*.ptc
#---------------------------------#
/códigos-fontes/readme/foto-matriz.png
